/* .search-container{ */
    /* display: flex;
    flex-wrap: wrap; */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px 50px;
} */

/* .search-container .product-card{
    padding-top: 30px;
} */


.search-container{
    display: flex;
    padding: 45px 30px;
}

/* .search-inner-container-left{
    flex:1
}

.search-inner-container-right{
    flex: 2;
} */

.search-inner-container-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex-basis: 200px; */
    flex: 1;
}

.search-inner-container-left .filtersheading{
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
    color: #212121;
    padding: 10px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.search-inner-container-left .common-heading{
    font-size: 14px;
    color: #212121;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 0 15px;
}

.search-inner-container-left ul{
    padding: 0px 15px;
    margin: 10px 0px;
}

.search-inner-container-left ul li{
    list-style: none;
}

.search-inner-container-left ul li input{
    position: relative;
    top: 3px;
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

.search-inner-container-left ul li{
    font-size: 0.9rem;
}


.search-inner-container-right{
    display: flex;
    flex-wrap: wrap;
    flex: 5;
}